In [1]:
import pandas as pd
df = pd.read_excel(r'd:\MYSQL\Manovate Da task\Superstore(Fathimunisha).xlsx')

Remove duplicate rows:

In [2]:
df = df.drop_duplicates()

Standardize date formats:

In [3]:
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce')
df[['Order Date', 'Ship Date']].head()

  Order Date  Ship Date
0 2016-11-08 2016-11-11
1 2016-11-08 2016-11-11
2 2016-06-12 2016-06-16
3 2015-10-11 2015-10-18
4 2015-10-11 2015-10-18

Handle missing values:

In [5]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

Fix inconsistent category/segment values:

In [6]:
for col in ['Category', 'Segment', 'Region', 'Ship Mode']:
    df[col] = df[col].str.strip().str.title()
print(df['Category'].unique())
print(df['Segment'].unique())

['Furniture' 'Office Supplies' 'Technology']
['Consumer' 'Corporate' 'Home Office']

Convert numerical fields properly:

In [7]:
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')